<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Task Manager</title>
        <link href='css/bootstrap.css' rel='stylesheet'>
    </head>
    <body>
        <div class='navbar navbar-default'>
            <a href='/' class='navbar-brand'>Welcome to the Task Manager</a>
            <ul class='nav navbar-nav navbar-right'>
                <li>
                    <a href="/tasks">Task Index</a>
                </li>
                <li>
                    <a href="/tasks/new">New Task</a>
                </li>
            </ul>
            <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src='js/bootstrap.js'></script>
        </div>
      </body>
</html>
